@page "/User/Notify"
@layout MainLayout
@using DocsMan.Blazor.Shared.DTOs

<PageTitle>Центр уведомлений</PageTitle>

<h3 class="page-title">Центр уведомлений</h3>

<div class="load">
	<a @onclick="@ReLoadNotify">
		<i class="fas fa-sync-alt"></i>
	</a>
</div>

@if (loading)
{
	<SpinnerLoading />
}
else
{
	<div class="notify-page">
		@if (messages != null)
		{
			@foreach (var item in messages)
			{
				<div class="msg">

					@if (item.IsRead)
					{
						<div class="point" @onclick="()=>ForgetNotify(item.Id)">
							<i class="fa-regular fa-circle"></i>
						</div>
					}
					else
					{
						<div class="point" @onclick="()=>ReadNotify(item.Id)">
							<i class="fa-solid fa-circle"></i>
						</div>
					}

					<a @onclick="()=>HideNotify(item.Id)">
						<i class="fas fa-trash-alt"></i>
					</a>

					<h3>@item.Title</h3>
					<p>@item.Description</p>
					<p>@item.DateTime.ToShortDateString() @item.DateTime.ToLongTimeString()</p>
				</div>
			}
		}
	</div>
}

<ResponseResultPage RequestResult="@resp" IsWasSendRequest="@isClick" OpenCloseStyles="@CSS_Styles.OpenCloseStyles" />

@code {
	bool loading = false;
	RequestResultDto? resp;
	bool isClick = false;

	protected override async Task OnInitializedAsync()
	{
		await ReLoadNotify();
	}

	IEnumerable<NotificationDto>? messages;

	async Task LoadNotify()
	{
		var req = await new ServerGet<IEnumerable<NotificationDto>?>(WebCooker)
		.DoRequest_GET("Profile/GetNotify");
		messages = req.Value;

		StateHasChanged();
	}

	async Task ReLoadNotify()
	{
		loading = true;

		var req = await new ServerGet<IEnumerable<NotificationDto>?>(WebCooker)
		.DoRequest_GET("Profile/GetNotify");
		messages = req.Value;

		await Task.Delay(500);
		loading = false;
		StateHasChanged();
	}

	async Task ReadNotify(int id)
	{
		await new ServerDelete(WebCooker)
		.DoRequest_DELETE($"Notify/Read/{id}");

		await LoadNotify();
	}

	async Task ForgetNotify(int id)
	{
		await new ServerDelete(WebCooker)
		.DoRequest_DELETE($"Notify/Forget/{id}");

		await LoadNotify();
	}

	async Task HideNotify(int id)
	{
		isClick = true;

		resp = await new ServerDelete(WebCooker)
		.DoRequest_DELETE($"Notify/Hide/{id}");

		await ReLoadNotify();
	}
}